                // COLORES
$color-primary: black;
$color-secondary: white;
$color-terciary: rgb(192, 192, 192);

                // TAMAÑOS
$size-articles-width: 600px;
$size-articles-height: 550px;
$size-article-img: 90%;
$size-article-img-hover: 120%;


$size-articles-sect3-width: 90%;
$size-articles-sect3-height: 500px;
$size-article-sect3-img-wid: 30%;
$size-article-sect3-img-heig: 60%;
$size-article-sect3-img-hover-wid: 40%;
$size-article-sect3-img-hover-heig: 70%;

$font-size-tittle: 40px;
$font-size-h3-h4: 25px;

